<h1>Лабораторная работа №8</h1>
<p>Программа определяет дружественные числа,</p>
<p>лежащие в диапазоне от 1 до n</p>
<p><strong>Введите n</strong></p>
<form action = "/index/output/">
    <input name ="input">
    <input type = "submit" value="Отправить">
<form>
<br>
<%= link_to 'Выйти', session_logout_path %>
